.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-image {
  width: 100%;
  height: 259px;
  object-fit: cover;
}
.home-image01 {
  width: 962px;
  height: 196px;
  object-fit: cover;
}
.home-image02 {
  width: 939px;
  height: 510px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-image03 {
  width: 934px;
  height: 492px;
  object-fit: cover;
}
.home-image04 {
  width: 945px;
  height: 205px;
  object-fit: cover;
}
.home-image05 {
  width: 931px;
  height: 494px;
  object-fit: cover;
}
.home-image06 {
  width: 955px;
  height: 241px;
  object-fit: cover;
}
.home-image07 {
  width: 940px;
  height: 238px;
  object-fit: cover;
}
.home-image08 {
  width: 959px;
  height: 215px;
  object-fit: cover;
}
.home-image09 {
  width: 952px;
  height: 211px;
  object-fit: cover;
}
.home-image10 {
  width: 971px;
  height: 225px;
  object-fit: cover;
}
